* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(73, 160, 65);
   
}
#root {
    align-items: center;
    text-align: center;
    position: relative;
}
